@import '/css/reset.css';
@import '/css/text.css';

/*
 blackish: 012340
 blueish: 015367
 green: 28C07B
 yellow: FCE913
 orange: FA5500
*/

body {
  background-image: url(/images/bg.png);
  color: #012340;
  padding-top: 16px;
}

h1, h2, h3, h4, h5, h6 {
  text-shadow: #bbb 1px 1px 0;
}

.container_12 {
  background: #fafafa;
  opacity: 0.98;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h2, h2 a, h3, h3 a { color: #FA5500; }
h4, h4 a, h5, h5 a, h6, h6 a { color: #28C07B; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { text-decoration: none; }

a {
  color: #015367;
}

a:hover {
  color: #FCE913;
}

small {
  font-size: 11px;
}

/* `Misc Classes
----------------------------------------------------------------------------------------------------*/

.align_center {
  text-align: center;
}

.align_right {
  text-align: right;
}

/* `Code
----------------------------------------------------------------------------------------------------*/

pre,
code {
  font-family: "Andale Mono", Menlo, Courier New, Courier, Mono, monospace; font-size: 0.994em;
}

pre,
.notice {
  background: #ffe;
  border: 1px solid;
  border-color: #eed #ccb #bba #ddc;
  overflow: auto;
  padding: 10px 0 10px 10px;
}

* html pre {
  overflow: hidden;
  width: 97%;
}

code {
  padding: 0 2px;
  overflow: scroll;
}

/* -------------------------------------------------------------------------------- */

.logo { margin-top: 6px; }
.logo a {
  font-family: "Lato", "Arial", "Helvetica", "Lucida Grande", "Gill Sans", "Verdana", sans-serif;
  font-size: 36px;
}
.external { margin: -8px 0; padding: 4px; float: right; }
