/* line 27, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 38, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 42, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_reset.scss */
nav ul {
  list-style: none;
}

/* line 44, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 47, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 49, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_reset.scss */
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 51, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 53, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 55, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 57, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 61, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 63, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 65, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 17, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.231;
  *font-size: small;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_fonts.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* line 29, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 12, ../src/partials/_html5-config.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "ChunkFiveRegular", "Georgia", "Palatino", "Times New Roman", "Baskerville", "Hoefler Text", serif;
}

/* line 17, ../src/partials/_html5-config.scss */
h1 {
  font-size: 2em;
}

/* line 18, ../src/partials/_html5-config.scss */
h2 {
  font-size: 1.5em;
  margin: 0 0 0.75em 0;
}

/* line 19, ../src/partials/_html5-config.scss */
h3 {
  font-size: 1.17em;
  margin: 0 0 0.83em 0;
}

/* line 20, ../src/partials/_html5-config.scss */
h5 {
  font-size: .83em;
  margin: 0 0 1.5em  0;
}

/* line 21, ../src/partials/_html5-config.scss */
h6 {
  font-size: .75em;
  margin: 0 0 1.67em 0;
}

/* line 23, ../src/partials/_html5-config.scss */
h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin-bottom: .8em;
}

/* line 31, ../src/partials/_html5-config.scss */
body, select, input, textarea {
  color: #111111;
}

/* line 33, ../src/partials/_html5-config.scss */
html {
  overflow-y: scroll;
}

/* line 35, ../src/partials/_html5-config.scss */
a, a:active, a:visited {
  color: #111111;
}

/* line 36, ../src/partials/_html5-config.scss */
a:hover {
  color: #2255bb;
}

/* line 38, ../src/partials/_html5-config.scss */
ul, ol {
  margin-left: 1.8em;
}

/* line 39, ../src/partials/_html5-config.scss */
ol {
  list-style-type: decimal;
}

/* line 41, ../src/partials/_html5-config.scss */
td, td img {
  vertical-align: top;
}

/* line 43, ../src/partials/_html5-config.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* line 45, ../src/partials/_html5-config.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 60, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 65, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_styles.scss */
pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 77, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_styles.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 78, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_styles.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 79, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_styles.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 80, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_styles.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 85, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_styles.scss */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 97, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 98, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 103, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 114, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_styles.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 118, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 120, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 65, ../src/partials/_html5-config.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 67, ../src/partials/_html5-config.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 69, ../src/partials/_html5-config.scss */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 71, ../src/partials/_html5-config.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

@media print {
  /* line 24, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important;
  }

  /* line 26, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 28, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_media.scss */
  a:after {
    content: " (" attr(href) ")";
  }

  /* line 30, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_media.scss */
  abbr:after {
    content: " (" attr(title) ")";
  }

  /* line 32, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after {
    content: "";
  }

  /* line 34, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 36, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 38, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 42, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 44, ../../../.rvm/gems/ruby-1.9.2-p0/gems/html5-boilerplate-0.2.4/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}

@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
@media screen and (max-device-width: 480px) {}
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on October 24, 2010 07:21:59 PM America/New_York */
@font-face {
  font-family: 'ChunkFiveRegular';
  src: url("/fonts/ChunkFive/Chunkfive-webfont.eot");
  src: local("☺"), url("/fonts/ChunkFive/Chunkfive-webfont.woff") format("woff"), url("/fonts/ChunkFive/Chunkfive-webfont.ttf") format("truetype"), url("/fonts/ChunkFive/Chunkfive-webfont.svg#webfontb5K2fJwj") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on October 24, 2010 06:49:54 PM America/New_York */
@font-face {
  font-family: 'BitstreamVeraSansMonoRoman';
  src: url("/fonts/BitstreamVeraSansMono/VeraMono-webfont.eot");
  src: local("☺"), url("/fonts/BitstreamVeraSansMono/VeraMono-webfont.woff") format("woff"), url("/fonts/BitstreamVeraSansMono/VeraMono-webfont.ttf") format("truetype"), url("/fonts/BitstreamVeraSansMono/VeraMono-webfont.svg#webfontMfRrhhHb") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BitstreamVeraSansMonoOblique';
  src: url("/fonts/BitstreamVeraSansMono/VeraMono-Italic-webfont.eot");
  src: local("☺"), url("/fonts/BitstreamVeraSansMono/VeraMono-Italic-webfont.woff") format("woff"), url("/fonts/BitstreamVeraSansMono/VeraMono-Italic-webfont.ttf") format("truetype"), url("/fonts/BitstreamVeraSansMono/VeraMono-Italic-webfont.svg#webfonte5kFDPjo") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BitstreamVeraSansMonoBold';
  src: url("/fonts/BitstreamVeraSansMono/VeraMono-Bold-webfont.eot");
  src: local("☺"), url("/fonts/BitstreamVeraSansMono/VeraMono-Bold-webfont.woff") format("woff"), url("/fonts/BitstreamVeraSansMono/VeraMono-Bold-webfont.ttf") format("truetype"), url("/fonts/BitstreamVeraSansMono/VeraMono-Bold-webfont.svg#webfontRvfDEdb2") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BitstreamVeraSansMonoBoldObli';
  src: url("/fonts/BitstreamVeraSansMono/VeraMono-Bold-Italic-webfont.eot");
  src: local("☺"), url("/fonts/BitstreamVeraSansMono/VeraMono-Bold-Italic-webfont.woff") format("woff"), url("/fonts/BitstreamVeraSansMono/VeraMono-Bold-Italic-webfont.ttf") format("truetype"), url("/fonts/BitstreamVeraSansMono/VeraMono-Bold-Italic-webfont.svg#webfont8XQ1AWmK") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WCRhesusABtaRegular';
  src: url("/fonts/WCRhesusBta/WC_Rhesus_A_Bta-webfont.eot");
  src: local("☺"), url("/fonts/WCRhesusBta/WC_Rhesus_A_Bta-webfont.woff") format("woff"), url("/fonts/WCRhesusBta/WC_Rhesus_A_Bta-webfont.ttf") format("truetype"), url("/fonts/WCRhesusBta/WC_Rhesus_A_Bta-webfont.svg#webfontmeV4F1oA") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WCRhesusBBtaItalic';
  src: url("/fonts/WCRhesusBta/WC_Rhesus_B_Bta-webfont.eot");
  src: local("☺"), url("/fonts/WCRhesusBta/WC_Rhesus_B_Bta-webfont.woff") format("woff"), url("/fonts/WCRhesusBta/WC_Rhesus_B_Bta-webfont.ttf") format("truetype"), url("/fonts/WCRhesusBta/WC_Rhesus_B_Bta-webfont.svg#webfontmejlKYjx") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../src/partials/_logo.scss */
.logo {
  font-family: "ChunkFiveRegular", "Georgia", "Palatino", "Times New Roman", "Baskerville", "Hoefler Text", serif;
  font-weight: normal;
  font-size: 48px;
}

/* line 7, ../src/partials/_logo.scss */
.logo_link {
  text-decoration: none;
}

/* line 11, ../src/partials/_logo.scss */
.avatar {
  display: block;
  float: right;
}

/* line 8, ../src/partials/_page.scss */
strong, th {
  font-weight: bold;
}

/* line 12, ../src/partials/_page.scss */
small {
  font-size: 85%;
}

/* line 21, ../src/partials/_page.scss */
input:invalid, textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: red 0 0 5px 0;
  -webkit-box-shadow: red 0 0 5px 0;
  -o-box-shadow: red 0 0 5px 0;
  box-shadow: red 0 0 5px 0;
}

/* line 26, ../src/partials/_page.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 33, ../src/partials/_page.scss */
body {
  background-color: #efefef;
  clear: both;
  margin: 10px auto;
  width: 960px;
}

/* line 38, ../src/partials/_page.scss */
p.meta {
  font-weight: bold;
  color: #33f;
}

/* line 43, ../src/partials/_page.scss */
aside, section {
  margin: 15px 0 30px 0;
  padding-left: 10px;
}

/* line 3, ../src/partials/_global.scss */
#banner nav {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: #000;
  padding: 0;
  margin: 0 auto 1em auto;
  font-size: 1.143em;
  height: 40px;
  line-height: 30px;
  text-align: center;
}
/* line 14, ../src/partials/_global.scss */
#banner nav ul {
  list-style: none;
  margin: 0 auto;
  width: 960px;
}
/* line 17, ../src/partials/_global.scss */
#banner nav ul li {
  float: left;
  display: inline;
  margin: 0;
}
/* line 20, ../src/partials/_global.scss */
#banner nav ul li:first-child a {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 24, ../src/partials/_global.scss */
#banner nav ul li a {
  color: white;
  display: inline-block;
  height: 30px;
  padding: 5px 1.5em;
  text-decoration: none;
}
/* line 32, ../src/partials/_global.scss */
#banner nav ul li a.active {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #11e;
  font-weight: bold;
}
/* line 38, ../src/partials/_global.scss */
#banner nav ul li a:hover, #banner nav ul li a:active {
  text-decoration: underline;
}

/* line 45, ../src/partials/_global.scss */
#footer {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  border-top: 5px solid #11e;
  background-color: #ddd;
}
/* line 53, ../src/partials/_global.scss */
#footer ul.external {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}
/* line 58, ../src/partials/_global.scss */
#footer ul.external li {
  margin-bottom: 4px;
}
/* line 59, ../src/partials/_global.scss */
#footer ul.external li:before {
  content: "\00BB \0020";
}
