//--------------------------------
// CSS Reset
//--------------------------------
@include html5-boilerplate-reset;


//--------------------------------
// Base Fonts
//--------------------------------
@include html5-boilerplate-fonts($base-font-family, $base-font-size, $base-line-height);

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "ChunkFiveRegular", "Georgia", "Palatino", "Times New Roman", "Baskerville", "Hoefler Text", serif;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em  ; margin: 0.75em 0 0.75em 0; }
h3 { font-size: 1.17em ; margin: 0.83em 0 0.83em 0; }
h5 { font-size: .83em  ; margin: 1.5em  0 1.5em  0; }
h6 { font-size: .75em  ; margin: 1.67em 0 1.67em 0; }

h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin-bottom: .8em;
}

//--------------------------------
// Minimal Base Styles
//--------------------------------
body, select, input, textarea { color: $font-color; }

html { @include force-scrollbar; }

p {
  padding: 5px; margin: 5px;
}

a, a:active, a:visited { color: $link-color; }
a:hover { color: $link-hover-color; }

ul, ol { margin-left: $list-left-margin; }
ol { list-style-type: decimal; }

td, td img { vertical-align: top; }

sub { @include sub; }

sup { @include sup; }

@include accessible-focus;

@include quoted-pre;

@include align-input-labels;

@include hand-cursor-inputs;

@include selected-text;

@include webkit-tap-highlight;

@include ie-hacks;


//--------------------------------
// Helpers
//--------------------------------
.ir { @include image-replacement; }

.hidden { @include hidden; }

.visuallyhidden { @include visually-hidden; }

.clearfix {
  @include pie-clearfix;  // defined by compass core
}


//--------------------------------
// Media
//--------------------------------
@media print {
  @include media-print;
}

@media all and (orientation:portrait) {
  // Style adjustments for portrait mode goes here
}

@media all and (orientation:landscape) {
  // Style adjustments for landscape mode goes here
}

@media screen and (max-device-width: 480px) {
  // Pass in false if you don't want iOS and WinMobile to mobile-optimize the text for you
  @include media-mobile(true);
}
