.logo {
  font-family: "ChunkFiveRegular", "Georgia", "Palatino", "Times New Roman", "Baskerville", "Hoefler Text", serif;
  font-weight: normal;
  font-size: 48px;
};

.logo_link {
  text-decoration: none;
};
