.logo {
  font-family: "ChunkFiveRegular", "Georgia", "Palatino", "Times New Roman", "Baskerville", "Hoefler Text", serif;
  font-weight: normal;
  font-size: 32px;
};

.logo_link {
  text-decoration: none;
};

.avatar {
  display: block;
  float: right;
}
