@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {
  clear: both;
  margin: 25px auto;
  background-color: white;
}

$blueprint_grid_columns: 10;
$blueprint_grid_width: 96px;

@import "blueprint";

#wrapper {
  @include container;

  background-color: rgb(255, 255, 250);

  .header, .footer {
    @include column(10);
  }

  .sidebar {
    @include column(3);

    #twits {
      padding: 12px 5px 12px 32px;
      float: right;
    }
  }

  .content {
    @include column(7, true);

    .content_wrapper {
      padding: 10px;
    }
  }

  .footer {
    .foot_left {
      @include column(4);
    }
    .foot_mid {
      @include column(3);
      padding-top: 3em;
    }
    .foot_right {
      @include column(3, true);
      padding-top: 3em;
    }
  };
}

p.meta {
  font-weight: bold;
  color: #33f;
}

aside, section {
  margin: 15px 0 30px 0;
  padding-left: 10px
}
