@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {
  background-color: #efefef;
  clear: both; margin: 10px auto; width: 960px;
}

p.meta {
  font-weight: bold;
  color: #33f;
}

aside, section {
  margin: 15px 0 30px 0;
  padding-left: 10px
}
