<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class='no-js' lang='en'>
  <!--<![endif]-->
  <head>
    <meta charset='utf-8' />
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
    <title>{{ page.title }}</title>
    <meta content='A blog from Argentina based software developer Emmanuel Oga' name='description' />
    <meta content='Emmanuel Oga' name='author' />
    <meta content='width=device-width; initial-scale=1.0' name='viewport' />
    <link href='/css/style.css?v=1' media='all' rel='stylesheet' />
    <script src='/js/modernizr-1.5.min.js'></script>
  </head>

  <body>
    <header id="banner">
      <div style="float: right">...and his place on the interwebz</div>
      <h1 class="logo">
        <a href="#" class="logo_link">Emmanuel Oga</a>
      </h1>

      <nav>
        <ul>
          <li><a href="/" rel="link" class="active">Home</a></li>
          <li><a href="/atom.xml" rel="link" class="">Feed</a></li>
        </ul>
      </nav>
    </header>

    {{ content }}

    <footer id="footer">
      <h3>Some of <a name="online-profiles">my profiles</a> elsewhere</h3>
      <ul class="external">
        <li><a rel="me" href="http://github.com/EmmanuelOga/">                      http://github.com/EmmanuelOga/</a></li>
        <li><a rel="me" href="http://twitter.com/EmmanuelOga/">                     http://twitter.com/EmmanuelOga/</a></li>
        <li><a rel="me" href="http://google.com/profile/EmmanuelOga/">              http://google.com/profile/EmmanuelOga/</a></li>
        <li><a rel="me" href="http://ar.linkedin.com/in/emmanueloga">               http://ar.linkedin.com/in/emmanueloga</a></li>
        <li><a rel="me" href="http://workingwithrails.com/person/8773-emmanuel-oga">http://workingwithrails.com/person/8773-emmanuel-oga</a></li>
        <li><a rel="me" href="http://www.last.fm/user/EmmanuelOga">                 http://www.last.fm/user/EmmanuelOga</a></li>
      </ul>
    </footer>

    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>

    <script type='text/javascript'>
      //<![CDATA[
        !window.jQuery && document.write(unescape('%3Cscript src="js/jquery-1.4.2.min.js"%3E%3C/script%3E'))
      //]]>
    </script>

    <script src='js/plugins.js?v=1'></script>
    <script src='js/script.js?v=1'></script>

    <!--[if lt IE 7 ]>
      <script src='js/dd_belatedpng.js'></script>
      <script type='text/javascript'>
        //<![CDATA[
          DD_belatedPNG.fix('img, .png_bg');
        //]]>
      </script>
    <![endif]-->

    <script type='text/javascript'>
      //<![CDATA[
        var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
        (function(d, t) {
         var g = d.createElement(t),
             s = d.getElementsByTagName(t)[0];
         g.async = true;
         g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         s.parentNode.insertBefore(g, s);
        })(document, 'script');
      //]]>
    </script>

  </body>
</html>
