---
layout: default
---
<div class="grid_2"><h4>{{ page.date | date_to_string }}</h4></div>
<div class="grid_8">
  <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
</div>
<div class="grid_1 align_right notmobile">
  <g:plusone></g:plusone>
</div>
<div class="grid_1 align_right notmobile">
  <a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="EmmanuelOga">Tweet</a>
</div>
<div class="clear"></div>

<div class="grid_9 prefix_2 sufix_1">
  {{ content }}
</div>
<div class="clear"></div>

<div class="grid_9 prefix_2 sufix_1">
  <h2>Related Posts</h2>
  <ul>
    {% for post in site.related_posts limit:3 %}
      <li><strong>{{ post.date | date_to_string }}</strong> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
<div class="clear"></div>
